<?xml version="1.0" encoding="UTF-8"?>

	
	<web-app version="4.0" xmlns="http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_4_0.xsd">
	
	<!-- 스프링 UTF-8 인코딩 필터(한글처리) --> 
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    <!--<servlet-name>appServlet</servlet-name> -->
    </filter-mapping>
<!-- 아래는 아파치의 UTF-8 인코딩 필더입니다 -->