<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring5213.mypro00j.mapper.MyCommentMapper">

<!-- 댓글 목록 조회(by bno, 계층쿼리) --><!-- 
    <select id="selectMyCmtList" resultType="com.spring5213.mypro00j.domain.MyCommentVO">
    <![CDATA[
        SELECT bno, cno, ccontent, cwriter, cregDate, cmodDate, cdelflg, LEVEL AS lvl
        FROM ( SELECT /*+ INDEX_ASC (a IDX_MYCOMMENT_BNO_CNO) */ * 
               FROM book_ex.tbl_mycomment
               WHERE bno = #{bno} ) a
        START WITH pcno IS NULL
        CONNECT BY PRIOR cno = pcno
    ]]>
    </select> -->

<!-- 댓글 목록 조회(by bno, 계층쿼리, 페이징) -->
    <select id="selectMyCmtList" resultType="com.spring5213.mypro00j.domain.MyCommentVO">
    <![CDATA[
        SELECT bno, cno, ccontent, cwriter, cregDate, cmodDate, pcno, lvl, cdelFlg
        FROM (SELECT ROWNUM as rn, b.*
              FROM ( SELECT LEVEL as LVL, a.*
                     FROM (SELECT  /*+ INDEX_ASC (a IDX_MYCOMMENT_BNO_RNO) */ *
                           FROM book_ex.tbl_mycomment
                           WHERE bno = #{myCmtPaging.bno} ) a
                     START WITH pcno IS NULL
                     CONNECT BY PRIOR cno = pcno ) b
              WHERE ROWNUM <= #{myCmtPaging.pageNum} * #{myCmtPaging.rowAmountPerPage}
             )
        WHERE rn >= ( #{myCmtPaging.pageNum} * #{myCmtPaging.rowAmountPerPage} )
                          - (#{myCmtPaging.rowAmountPerPage} - 1) 
    ]]>
    </select>

<!-- 댓글 총 개수 조회(by bno, 페이징) -->
    <select id="selectCmtTotalByBno" resultType="int">
    <![CDATA[
        SELECT /*+ INDEX (IDX_MYCOMMENT_BNO_CNO) */ count(*)
        FROM book_ex.tbl_mycomment
        WHERE bno = #{myCmtPaging.bno}
    ]]>
    </select>
    
    <!-- 댓글 등록-->
    <insert id="insertMyCmt">
        <selectKey keyProperty="cno" order="BEFORE" resultType="long">
            SELECT book_ex.seq_mycomment.NEXTVAL FROM dual
        </selectKey>
        
        INSERT INTO book_ex.tbl_mycomment(bno, cno, ccontent, cwriter, cregDate, cmodDate, pcno, cdelFlg)
        VALUES (#{bno},	#{cno}, #{ccontent}, #{cwriter}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
    </insert>

<!-- 댓글의 답글 등록: 등록된 댓글의 rno 반환 -->
    <insert id="insertMyReply">
        <selectKey keyProperty="cno" order="BEFORE" resultType="long">
            SELECT book_ex.seq_mycomment.NEXTVAL FROM dual
        </selectKey>
        
        INSERT INTO book_ex.tbl_mycomment(bno, cno, ccontent, cwriter, cregDate, cmodDate, pcno, cdelFlg)
        VALUES (#{bno},	#{cno}, #{ccontent}, #{cwriter}, DEFAULT, DEFAULT, #{pcno}, DEFAULT)
    </insert>

<!-- 댓글-답글 조회-->
    <select id="selectMyCmtReply" resultType="com.spring5213.mypro00j.domain.MyCommentVO">
    <![CDATA[
        SELECT * FROM book_ex.tbl_mycomment WHERE bno= #{bno} AND cno = #{cno}
    ]]>
    </select>

<!-- 댓글-답글 수정: 수정된 행수 반환 -->
    <update id="updateMyCmtReply">
    <![CDATA[
        UPDATE book_ex.tbl_mycomment
        SET ccontent = #{ccontent},
            cmodDate = DEFAULT
        WHERE bno= #{bno} AND cno = #{cno}
    ]]>
    </update>

<!-- 댓글-답글 삭제: cdelFlg 1 수정 -->
    <update id="updateCdelFlg">
    <![CDATA[
        UPDATE book_ex.tbl_mycomment
        SET cdelFlg = 1
        WHERE bno= #{bno} AND cno = #{cno}
    ]]>
    </update>

<!-- 댓글-답글 삭제: 삭제된 행수 반환 -->
    <delete id="deleteMyCmtReply">
    <![CDATA[
        DELETE FROM book_ex.tbl_mycomment WHERE bno= #{bno} AND cno = #{cno}
    ]]>
    </delete>

</mapper>